.photocontentbody {
    display: flex;
    justify-content:space-between;
}

.sidebarspace {
    width: 18%;
}

.contentBox {
    background-color: #EBE9E9;
    width: 85%;
}

.registered-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registered-photo-header {
    width: 100%;
    height: 80px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registered-photo-label {
    font-size: 2rem;
    font-weight: 500;
}

.registered-photo-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.21);
    padding: 30px;
    width: 90%;
    overflow: hidden;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.registered-photo-img {
    width: 250px;
    height: 250px;
    margin: 10px;
}

.register-new-photo {
    width: 90%;
    padding: 30px;
    background-color: white;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.21);
    margin-bottom: 30px;
}

.register-header {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2rem;
    font-weight: 900;
}

.register-inputfile {
    display: flex;
    justify-content: center;
    align-items: center;
}