.infobody{
    border: 1px solid sienna;
    display: flex;
    justify-content: flex-end;
}

.BIMcontentBox {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ctBoxheader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
}

.ctBoxheader-title {
    font-size: 3rem;
    font-family: 'Do Hyeon', sans-serif;
}

.ctBoxheader-subtitle {
    font-family: 'Nanum Myeongjo', serif;
    margin-top: 10px;
}

.ctBoxBody{
    width: 80%;
    padding: 10px;
}


.boxopt {
    background-color: white;
    box-shadow: 4px 4px 12px rgb(0, 0, 0, 10%);
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.inputbarname {
    width: 50%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
}

.inputformlabel {
    font-family: 'Jua', sans-serif;
    font-size: 1.5rem;
    margin-right: 10px;
}




.area {
    display: flex;
    box-shadow: 4px 4px 12px rgb(0, 0, 0, 10%);
}

.barlocation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.select-search-location {
    width: 30%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    margin-right: 10px;
}

.inputbardiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 80%;
    margin-right: 10px;
}

.inputbarlocation {
    width: 100%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    margin-right: 5px;
}

.locationbtn {
    width: 30%;
    height: 60px;
    border-radius: 5px 0px 5px 0px;
    border: 1px solid gray;
}

.inputbarlocationdetail {
    width: 100%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
}

.phoneWrapper{
    width: 50%;
}

.phoneform {
    width: 100%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    margin-bottom: 7px;
}

.phonelabel {
    color: gray;
    font-family: 'Jua', serif;
    font-size: 1rem;
    font-weight: 400;
}

.seatform {
    width: 50%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    margin-bottom: 7px;
}

.svcdiv {
    display: flex;
    margin-right: 26px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svcoptel {
    margin-top: 10px;
    margin-bottom: 10px;
}


.svcopicon {
    width: 20px;
}

.Menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputmenu-header {
    width: 55%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.inputformsublabel {
    margin-right: 10px;
}

.add-thumbnail {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-header {
    width: 55%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.submitbtn {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    margin-left: 5px;
    font-size: 1.5rem;
    font-family: 'Sunflower', sans-serif;
  }
  
  .submitbtn:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .submitbtn:active {
    color: #000;
  }
  
  .submitbtn:active:after {
    background: transparent;
  }
  
  .submitbtn:hover:before {
    opacity: 1;
  }
  
  .submitbtn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}



.img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
}
.delBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    background-color: #FFF;
    padding: 4px 3px;
    cursor: pointer;
    text-align: center;
    font-size: 17px;
    line-height: 10px;
    border-radius: 50%;
    border:1px solid red;
}

.img-wraps:hover .delBtn {
    opacity: 1;
}

