/* CSS 초기화 코드가 99번째 줄까지 있습니다. 중간중간 글로벌 선언이 필요할 경우 수정할 수 있어요 */


html, body, div, span, a, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, p, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: -.02em;
    white-space: normal;
    word-break: break-all;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}














/* 여기서부터 실제 코드 */


/* 네비게이션 영역 */
.nav {
    display: flex;
    border-bottom: 2px solid #bb001f;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    align-items: center;
}

#nav-logo{
    width: 20%;
}

.nav-btn {
    border: none;
    width: 100px;
    height: 50px;
}





/* 본문 영역 */


.shopinfo {
    display: flex;
    justify-content: center;
}

.shopinfo-body {
    width: 72%;
}


.shopinfo-header {
    box-shadow: 4px 4px 12px rgb(0, 0, 0, 10%);
    margin-bottom: 30px;
}

.shopinfo-header-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.shopinfo-header-infoarea {
    margin-top: 10px;
    padding: 20px;
}


.shopinfo-header-infoarea-shopname {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.shopinfo-header-infoarea-geo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.shopinfo-header-infoarea-tmapbtn {
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #ED2609;
    padding: 5px;
    margin-left: 10px;
}

.shopinfo-header-infoarea-tmapbtn:hover {
    background-color: #44A780;
}

.shopinfo-header-infoarea-phone, .shopinfo-header-infoarea-time {
    margin-bottom: 10px;
}

.shopinfo-header-infoarea-ratingarea {
    display: flex;
    align-items: center;
}

.shopinfo-header-infoarea-ratingarea-rate {
    margin-left: 5px;
}

.shopinfo-iconarea, .shopinfo-menuarea, .shopinfo-shopphoto, .shopinfo-reservation {
    box-shadow: 4px 4px 12px rgb(0, 0, 0, 10%);
    padding: 30px;
    margin-bottom: 20px;
}

.shopinfo-menuarea-body {
    width: 100%;
    height: 100px;
}

.shopinfo-menuarea-titlearea-label, .shopinfo-shopphoto-titlearea-label, .shopinfo-reservation-titlearea-label {
    font-size: 1.3rem;
    font-weight: 900;
}

.shopinfo-menuarea-body, .shopinfo-reservation-body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.shopinfo-menuarea-link, .shopinfo-reservation-link {
    font-weight: 900;
}

.shopinfo-menuarea-link:hover, .shopinfo-reservation-link:hover {
    font-weight: 900;
    color: red;
}


.shopinfo-shopphoto {
    overflow: hidden;
    margin-bottom: 20px;
}

.shopinfo-shopphoto-titlearea {
    display: block;
    position: relative;
    align-items: center;
    margin-bottom: 15px;
}

.shopinfo-shopphoto-body {
    margin-left: -20px;
    margin-right: -20px;
    overflow-x: auto;
    padding-bottom: 14px;
    margin: 0 -30px -14px;
}

.v-scroll-inner {
    display: inline-block;
    padding: 0 20px;
}

.shopinfo-shopphoto-contents {
    display: flex;
    flex-wrap: nowrap;
}

.shopinfo-shopphoto-object {
    width: 200px;
    display: block;
    flex: 0 0 auto;
    margin-right: 10px;
}

.shopinfo-shopphoto-object-photobox {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
    position: relative;
}

.shopinfo-shopphoto-object-photobox-img {
    width: 200px;
    height: 200px;
    background: 50% 50% no-repeat;
    background-size: cover;
}


.shopinfo-iconarea {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.shopinfo-iconarea-featureitem {
    width: 25%;
    flex: 0 1 25%;
    display: block;
    margin: 15px 0;
}

.shopinfo-iconarea-featureitem-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto 12px;
    display: block;
}

.shopinfo-iconarea-featureitem-label {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}








/* 푸터 영역 */
.footer {
    border-top: 1px solid gray;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.footer-logoarea{
    width: 20%;
    padding: 30px;
}

#footer-logo {
    width: 100%;   
}

.footer-infoarea {
    width: 75%;
    height: auto;
    color: gray;
    min-width: 300px;
    font-size: 1rem;
    word-break: keep-all;
}

.footer-infoarea-infolabel {
    margin-bottom: 5px;
}

.footer-infoarea-buttonsarea {
    margin-bottom: 5px;
    word-break: keep-all;
}

.footer-infoarea-infobody {
    word-break: keep-all;
}
