.navi {
    display: flex;
    border-bottom: 2px solid #bb001f;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    align-items: center;
}

#navi-logo{
    width: 20%;
}


.navi-btn {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin-left: 5px;
  }
  
  .navi-btn:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .navi-btn:active {
    color: #000;
  }
  
  .navi-btn:active:after {
    background: transparent;
  }
  
  .navi-btn:hover:before {
    opacity: 1;
  }
  
  .navi-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .navi-login-modal {
    background-color: rgba(0, 0, 0, 0.827);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }


  .login-modal-box {
    width: 500px;
    height: 700px;
    background-color: white;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.635);
  }

.clsbtnwrapper {
  width: 100%;
}

.close {
  margin: 10px;
}

.login-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.login-modal-logo {
  width: 400px;
  margin-bottom: 100px;
}

.login-modal-label {
  font-size: 1.3rem;
  line-height: 1.4;
}

.login-modal-btn-kakao-login {
  margin-top: 100px;
  margin-bottom: 20px;
}