/* CSS 초기화 코드가 99번째 줄까지 있습니다. 중간중간 글로벌 선언이 필요할 경우 수정할 수 있어요 */


html, body, div, span, a, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, p, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: -.02em;
    white-space: normal;
    word-break: break-all;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}














/* 여기서부터 실제 코드 */




*{
    margin: 0;
    padding: 0;
}

/* BshowPage.js */
.outer-box{
    margin-left: 18%;
    margin-right:5%;
    margin-bottom: 5%;
    border: 1px solid white;
}

.bossHeader{ 
    width: 100%;
    height: 80px;
    background-color: rgb(229, 229, 229);
    text-align: center;
}

.bossHeader>img{
    width: 100%;
    height: 100px;
    overflow: hidden;
}


.content {
    width: 100%;
    height: 100%;
}

.content-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Do Hyeon', sans-serif;
}
.hrcss { border-color: rgb(239, 237, 237); width: 100%; }


/* AddShow.js*/
.show-box{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-innerbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    flex-wrap: wrap;
    padding: 20px;
    overflow: hidden;
}

.show-box_photo{  
    /* width: 270px;
    min-width: 270px;
    height: 350px;
    min-height: 350px;
    margin-right: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-photo{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-photo>img{
    width: 150px;
    height: 150px;
}

.show-box_input {
    width: 65%;
    padding-top: 25px;
}





.add-body {
    display: flex;
}







.add-thumbnail-Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.add-thumbnail {
    width: 250px;
    height: 250px;
}

.add-thumbnail-holder {
    width: 250px;
    height: 250px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.add-thumbnail-upload {
    border: none;
    border-radius: 5px;
    padding-left: 7px;
    background-color: whitesmoke;
    color: black;
    width: 250px;
    margin-top: 5px;
    height: 23px;
}

.add-subtitle {
    color: rgb(105, 101, 101);
    font-family: "Jua";
    margin-top: 20px;
    font-size: 14px;
}

.add-photo-submit {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    background-color: #3F50B5;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

.add-photo-submit:hover {
    background-color: #354395;
}




.bottom-box{
    width: 100%;
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    margin-top: 20px;
}

.bottom-box > button{
    width: 150px;
    height: 50px;

}

/* AddInput.js */

.input-outerbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.input-date-time{
    display: flex;
    flex-direction: column;
}

.inputdiv{
    margin-bottom: 30px;

}


.allShow-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card-outer-box{
    margin-right: 30px;
    background-color: indianred;
    }
    
    .card-box{
        background-color: white;
        width: 500px;
        height: 350px;
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        border: 0.5px solid black
    }
    
    
    /* 카드의 왼쪽박스 */
    .left-box{
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;

    }
    .left-top{
        height: 20%;
        background-color: rgba(255, 255, 255, 0.726);
    }
    
    .left-middle{
        height: 20%;
    }
    
    .left-middle >img{
        width: 100%;
        margin-left: 0.5px;
        height: 80%px;
    }
    
    
    /* 카드의 오른쪽박스 */
    .right-box{
        background-color: rgba(245, 240, 240, 0.795);
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .right-box-top{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: flex-end;
    }
    
    .hamicon{
        margin: 10px;
    }

    .right-box-bottom {
        display: flex;
        flex-direction: column;
        height: 80%;
    }
  
    
    .right-box-bottom >div{
        font-size: 18px;
        display: flex;
        margin-bottom: 20px;
    }
    
    .data-content{
        width: 100px;
        word-break: break-all;
    }


  .checkBox{
      display: flex;
      flex-wrap: wrap;
      width: 500px;
      margin-left: 8px;
  }

  .checkBox > div {
      display: flex;
      margin-right: 25px;
      width: 70px;
  }

  .checkBox > div >input {
    margin-right: 8px;
}

.checkBox > div >div {
  word-break: keep-all;
}


.input-content-box{
    margin-left: 8px;
}

.checkBox{
    margin-bottom: 25px;
}


.checkbox-alert{
    color: rgb(105, 103, 103);
    margin-bottom: 10px;
    margin-left: 8px;
}


#standard-full-width {
    width: 100%;
    resize: none;
}

#standard {
    width: 200px;
}

.showdateinformation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}







/* ModalInfoEdit.js */
.modalinnerbox{
    background-color: rgb(255, 255, 255);
}

.modal-Bottom-box{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column-reverse;

}

.modal-buttom-box-delete{
    width: 150px;
    height: 50px;
}

.modal-buttom-box-save{
    width: 150px;
    height: 50px;
}


/* ModalEdit.js */
.modify-show-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.modify-top-box{
    /* border: 1px solid blue; */
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.modify-show-innerbox{
    /* border: 1px solid sienna; */
    width: 500px;
    display: flex;
    justify-content: center;
    min-width: 500px;
}

.modify-show-infobox {
    /* border: 1px solid violet; */
    width: 800px;
    min-width: 500px;
    margin-left: 10px;
    display: flex;
}

.modify-show-box_input {
    /* border: 1px solid green; */
    width: 100%;
}

/* .modify-show-box_content {
    border: 1px solid royalblue;
} */

.modify-bottom-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.modify-save-btn {
    margin-left: 10px;
}

.checkBox {
    /* border: 1px solid royalblue; */
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}

.input-nametag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.input-content-box2 {
    width: 550px;
    margin-bottom: 20px;
    padding-left: 8px;
}