*{
    margin: 0;
    padding: 0;
}

/* 재즈바 사진 (헤더) */
.bossHeader{ 
    width: 100%;
    height: 80px;
    background-color: rgb(229, 229, 229);
    text-align: center;
}

.bossHeader>img{
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.outer-box{

    margin-left: 18%;
    margin-right:5%;
    margin-bottom: 5%;
}

.content {
    background-color: rgb(225, 225, 225);
    width: 100%;
    margin-top: 30px;
    height: 100%;
}

.content-title{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    /* margin: 10px; */
    font-weight: bold;
}
.hrcss { border-color: rgb(239, 237, 237); width: 100%; }

.show-box{
    background-color: rgb(234, 234, 229);
    margin: 20px;
    margin-right: 50px;
}
/*  */

.top-section{
    display : flex;
}
.show-photo-box {
    height: 200px;
    display: flex;
    text-align: center;
    
}

.show-content-box{
    display: flex
}

.show-photo-box{
    float:left
}

.show-photo{
    background-color: white;
    border: 1px solid black;
    width: 200px;
    height: 235px;
    margin-right: 50px;
    margin-top: 20px;
    cursor: pointer;

}

.show-photo>img{
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.inputBox{
    float: right;
    flex-direction: column;

}





/* .show-description{
    margin: 100px 10px;
}

.textarea{
    width: 800px;
}

.bottom-section{
    display: flex;
}

.show-button{
    float: right;
}

.inputBox {
        float: right;
        margin-right: 100px;

} */



