.sidebar{
    position: fixed;
  
}
/* 
#header .closemenu {
    color: #000;
    position: absolute;
    right: 0;
    z-index: 999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: -15px;
    cursor: pointer;
  }
   */