.shopinfo {
    display: flex;
    justify-content: center;
}

.shopinfo-body {
    width: 72%;
}


.shopinfo-header {
    box-shadow: 4px 4px 12px rgb(0, 0, 0, 10%);
    margin-bottom: 30px;
}

.shopinfo-header-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.shopinfo-header-infoarea {
    margin-top: 10px;
    padding: 20px;
}


.shopinfo-header-infoarea-shopname {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 10px;
    font-family: 'East Sea Dokdo', cursive;
}

.shopinfo-header-infoarea-geo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.shopinfo-header-infoarea-location {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
}

.shopinfo-header-infoarea-tmapbtn {
    color: #3B1E1E;
    border: none;
    border-radius: 10px;
    background-color: #FEE501;
    padding: 5px;
    margin-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    font-weight: 900;
}

.shopinfo-header-infoarea-tmapbtn:hover {
    background-color: #cdb902;
}

.shopinfo-header-infoarea-phone, .shopinfo-header-infoarea-time {
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.shopinfo-header-infoarea-ratingarea {
    display: flex;
    align-items: center;
}

.shopinfo-header-infoarea-ratingarea-rate {
    margin-left: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}

.shopinfo-iconarea, .shopinfo-menuarea, .shopinfo-shopphoto, .shopinfo-reservation, .shopinfo-review {
    box-shadow: 4px 4px 12px rgb(0, 0, 0, 10%);
    padding: 30px;
    margin-bottom: 20px;
}

.shopinfo-menuarea-body {
    width: 100%;
    height: 100px;
}

.shopinfo-menuarea-titlearea-label, .shopinfo-shopphoto-titlearea-label, .shopinfo-reservation-label, .shopinfo-review-titlearea-label {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Do Hyeon', sans-serif;
}

.shopinfo-reservation-sublabel {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.shopinfo-menuarea-body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.shopinfo-menuarea-link {
    font-weight: 900;
    font-size: 1.3rem;
    font-family: 'Jua', sans-serif;
}

.shopinfo-menuarea-link:hover {
    font-weight: 900;
    color: red;
}




.shopinfo-shopphoto {
    overflow: hidden;
    margin-bottom: 20px;
}

.shopinfo-shopphoto-titlearea {
    display: block;
    position: relative;
    align-items: center;
    margin-bottom: 15px;
}

.shopinfo-shopphoto-body {
    margin-left: -20px;
    margin-right: -20px;
    overflow-x: scroll;
    padding-bottom: 14px;
    margin: 0 -30px -14px;
}

.v-scroll-inner {
    display: inline-block;
    padding: 0 20px;
}

.shopinfo-shopphoto-contents {
    display: flex;
    flex-wrap: nowrap;
}

.shopinfo-shopphoto-object {
    width: 200px;
    display: block;
    flex: 0 0 auto;
    margin-right: 10px;
}

.shopinfo-shopphoto-object-photobox {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
    position: relative;
}

.shopinfo-shopphoto-object-photobox-img {
    width: 200px;
    height: 200px;
    background: 50% 50% no-repeat;
    background-size: cover;
}


.shopinfo-iconarea {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.shopinfo-iconarea-featureitem {
    width: 25%;
    flex: 0 1 25%;
    display: block;
    margin: 15px 0;
}

.shopinfo-iconarea-featureitem-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto 12px;
    display: block;
}

.shopinfo-iconarea-featureitem-label {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
}




.shopinfo-reservation {
    overflow: hidden;
    margin-bottom: 20px;
}

.shopinfo-reservation-header {
    display: block;
    position: relative;
    align-items: center;
    margin-bottom: 15px;
}

.shopinfo-reservation-body {
    margin-left: -20px;
    margin-right: -20px;
    overflow-x: scroll;
    padding-bottom: 14px;
    margin: 0 -30px -14px;
}

.shopinfo-reservation-contents {
    display: flex;
    flex-wrap: nowrap;
}

.shopinfo-reservation-object {
    width: 200px;
    display: block;
    flex: 0 0 auto;
    margin-right: 10px;
}

.shopinfo-reservation-object-photobox {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
    position: relative;
}

.shopinfo-reservation-object-img {
    width: 200px;
    height: 200px;
    background: 50% 50% no-repeat;
    background-size: cover;
}

.shopinfo-reservation-object-footer {
    position: relative;
    padding-right: 50px;
}

.shopinfo-reservation-object-footer-name {
    word-break: break-word;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: -.032222222222222em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 4px;
    line-height: 25px;
    margin-left: 10px;
}

.shopinfo-reservation-object-footer-text {
    margin-left: 10px;
    margin-top: 10px;
}




.shopinfo-review-body {
    border: 1px solid gray;
    margin-top: 15px;
    padding: 10px;
}

.shopinfo-review-body-label {
    display: flex;
    background-color: rgb(255, 239, 226);
    font-size: 1.1rem;
    font-weight: 900;
}

.shopinfo-review-body-data {
    display: flex;
}

.shopinfo-review-body-label-username, .shopinfo-review-body-label-rate, .shopinfo-review-body-label-review {
    font-family: 'Jua', sans-serif;
    font-size: 1.3rem;
}

.shopinfo-review-body-data-username, .shopinfo-review-body-data-rate, .shopinfo-review-body-data-review {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
}

.shopinfo-review-body-label-username, .shopinfo-review-body-data-username {
    width: 100px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
}

.shopinfo-review-body-label-rate, .shopinfo-review-body-data-rate {
    width: 50px;
    text-align: center;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
}

.shopinfo-review-body-label-review, .shopinfo-review-body-data-review {
    width: 1000px;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
}

.shopinfo-review-body-label-review {
    text-align: center;
}

.shopinfo-review-form {
    background-color: rgb(255, 239, 226);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.shopinfo-review-form-label {
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Jua', sans-serif;
    width: 30px;
    min-width: 30px;
}

.shopinfo-review-form-input {
    width: 850px;
    margin-left: 15px;
    margin-right: 10px;
}

.shopinfo-review-form-rate {
    margin-right: 10px;
}

.shopinfo-review-form-submit {
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;
    font-family: 'Jua', sans-serif;
    width: 50px;
    min-width: 50px;
}

.shopinfo-review-form-submit:hover, .shopinfo-review-form-rate:hover {
    background-color: rgb(231, 231, 231);
}


.shopinfo-menuarea-modal {
    background-color: rgba(0, 0, 0, 0.718);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.shopinfo-menu-object {
    background-color: white;
    width: 80%;
    height: 80%;
    box-shadow: 4px 4px 12px rgb(0, 0, 0, 10%);
    overflow-y: scroll;
}

.shopinfo-menu-object-photobox {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 94%;
    flex-wrap: wrap;

}

.shopinfo-menu-object-img {
    width: 70%;
    height: auto;
    padding: 10px;
}

.closebutton {
    width: 81%;
    text-align: end;
    margin-bottom: 5px;
}

.close {
    border: none;
}


